/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --cover-image: url("../images/cover-image-dark.png");
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --answers-color: #000028;
  --detail-color: 255, 0, 112;
  --accent-color: #ff0070;
  --background-color: #000028;
  --main-font: "IBM Plex mono", monospace;
  --bold-font: 700;
  --regular-font: 400;
  --font-size: 18px;
  --main-gap: 10px;
  --main-gap-tablet: 20px;
}
