/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --cover-image: url("../images/cover-image-light.png");
  --title-color: #ffc2e6;
  --text-color: #353430;
  --detail-color: 53, 52, 48;
  --answers-color: #353430;
  --accent-color: #ff8dcb;
  --background-color: #fff1f7;
  --main-font: "IBM Plex mono", monospace;
  --bold-font: 700;
  --regular-font: 400;
  --font-size: 18px;
  --main-gap: 10px;
  --main-gap-tablet: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url("../images/cover-image-light.png");
    --title-color: #ffc2e6;
    --text-color: #353430;
    --detail-color: 53, 52, 48;
    --answers-color: #353430;
    --accent-color: #ff8dcb;
    --background-color: #fff1f7;
    --main-font: "IBM Plex mono", monospace;
    --bold-font: 700;
    --regular-font: 400;
    --font-size: 18px;
    --main-gap: 10px;
    --main-gap-tablet: 20px;
  }

  .theme-auto .rec-element {
    display: none;
  }
}
